html{
    font-family: 'Segoe UI', 'Pingfang UI';
    font-weight: 300;
}
.c_main{
    height: 150px;
    border-radius: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.c_full{
    margin: 0, 0;
    height: 150px;
    display: flex;
    padding-bottom: 10px;
    font-size: 30px;
    flex-direction: row;
    align-content: flex-start;
    text-align: left;
    align-items: flex-end;
}
.large-plate{
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 0px;
}
.large-plate .img{
    height: 100px;
    width: auto;

}
.noround{
    border-radius: 0px;
}
