html{
    font-family: 'Segoe UI', 'Pingfang UI';
    font-weight: 300;
}
.zoom{
    transition: height .5s;
    transition: margin .5s;
}
.zoom:hover{
    height:160px;
    margin: -5px;
    background-color: #2bb288;
}
.yue{
    background-color: #2bb288;
}
#logo{
    left: 25px;
    display:block;
}
#bdfznav{
    left: 60px;
}
.c_main{
    height: 150px;
    border-radius: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 10px;
}
.c_main_m {
    height: 100px;
    border-radius: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 10px;
}
.c_full{
    margin: 0, 0;
    height: 150px;
    display: flex;
    padding-bottom: 10px;
    font-size: 30px;
    flex-direction: row;
    align-content: flex-start;
    text-align: left;
    align-items: flex-end;
}
.c_clock {
    margin: 0, 0;
    height: 150px;
    display: flex;
    padding-bottom: 10px;
    font-size: 30px;
    flex-direction: column;
    vertical-align: middle;
}
.c_full_minus{
    margin: 0, 0;
    height: 100px;
    display: flex;
    padding-bottom: 10px;
    font-size: 30px;
    flex-direction: row;
    align-content: flex-start;
    text-align: left;
    align-items: flex-end;
}
.large-plate{
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 0px;
}
.img{
    height: 100px;margin-bottom: 15px;
    width: auto;
    margin-left: 5px;

}
.img_m{
    height: 80px;
    margin-bottom: 10px;
    width: auto;
    margin-left: 5px;

}
.noround{
    border-radius: 0px;
}
.office{
    background-color: #d83b01;
}
.dt{
    line-height: 1;
    margin-bottom: 0px;
    margin-top: 12px;
}